.carousel_items {
  height: 100%;
  position: relative;
  text-align: center;
  padding: 0px 5px 0px 5px;
}

.carousel_container {
  width: 100%;
}

.carousel_items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.carousel.carousel-slider .control-arrow {
  z-index: 888;
}
